<div class="mx-auto">
	<div class="text-center">
		<h1>Book Library</h1> <br><hr>
		
		<form method= 'GET' action="/search/*" autocomplete="off">
            <br>
			<input type="text" placeholder="Enter language here" class="input-box" name="query" required>
            <br>
            <input type="submit" value="Submit" class="search">
    	</form>
	</div>
	<table class="table table-striped">
		<thead>
			<th>Title</th>
			<th>Author</th>
			<th>Country</th>
			<th>Language</th>
			<th>Link</th>
			<th>Pages</th>
			<th>Year</th>
		</thead>
		<tbody>
			{{#each bookObj}}
			<tr>
				<td>{{{this.title}}}</td>
				<td>{{this.author}}</td>
				<td>{{this.country}}</td>
				<td>{{this.language}}</td>
				<td>{{this.link}}</td>
				<td>{{this.pages}}</td>
				<td>{{this.year}}</td>
			</tr>
			{{/each}}
			{{#each searchResult}}
			<tr>
				<td>{{{this.title}}}</td>
				<td>{{this.author}}</td>
				<td>{{this.country}}</td>
				<td>{{this.language}}</td>
				<td>{{this.link}}</td>
				<td>{{this.pages}}</td>
				<td>{{this.year}}</td>
			</tr>
			{{/each}}

		</tbody>
	</table>
</div>